<link rel="stylesheet" type="text/css" href="./sorter/chatsystem.css">
<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="./sorter/jquery.tablesorter.min.js"></script>
<script type="text/javascript">
var socket = io.connect('http://rocky-lowlands-2030.herokuapp.com/');//3000に繋いでね。


odaiarray= new Array("校長の長話に感動した理由は？","娘がケーキ屋さんを目指している衝撃的な理由","全国いい人選手権優勝者の驚きの行動","じゃがりこ新製品のキャッチフレーズ");
otherusername=new Array(30);
var ingame=0//ゲーム中かどうか判断するフラグ
var gamecheck=0;
youranswer="ネタが投稿されていません。これには１点をつけて下さい。";

loginuser=new Array(1)//ログイン中のユーザーを格納する

socket.on('userenter',function(data){//入室した事を知らせる&現在ログイン中のユーザーの表示


$(function(){
     loginuser=data.loginuser;
$("#enter").text(data.value+"さんが入室しました。");
    $("#loginuser li").remove();
for(var i=1; i<data.loginuser.length;i++){
  if(data.loginuser[i]!="NULL")
  { 
    showloginuser="<li>"+data.loginuser[i]+"</li>";

    $("#loginuser").append(showloginuser);
  }

}

});
});

socket.on('enter1',function(enter){
username=enter.value;
otherusername[0]=username;
roomnumber=enter.roomnum;
whetheringame();
otherusername = new Array(username);
$(function(){
socket.emit('userenter1',{roomnum:"1",username:username,});

});

});

socket.on('enter2',function(enter){
username=enter.value;
otherusername[0]=username;
roomnumber=enter.roomnum;
whetheringame();
otherusername = new Array(username);
$(function(){
$("#enter").text(enter.value+"さんが入室しました。");
socket.emit('userenter2',{roomnum:"1",username:username,});

});

});

socket.on('enter3',function(enter){
username=enter.value;
otherusername[0]=username;
roomnumber=enter.roomnum;
whetheringame();
otherusername = new Array(username);
$(function(){
socket.emit('userenter3',{roomnum:"1",username:username,});

});

});

socket.on('enter4',function(enter){
username=enter.value;
otherusername[0]=username;
roomnumber=enter.roomnum;
whetheringame();
otherusername = new Array(username);
$(function(){
socket.emit('userenter4',{roomnum:"1",username:username,});

});

});

function whetheringame(){//入室した時にゲーム中だったらボタンを使えなくする

if(gamecheck==1){
$('#start').attr('disabled', true);
 $("#odai").text("只今ゲーム中です。しばらくお待ち下さい。（チャットはできます）"); 

}

}

// サーバーからメッセージが来た時。もしくは、自分で送信した時。
socket.on('clientmessage', function(msg) {//メッセージを受け取った時の事。メッセージメソッドを受け取ったら。msgにはsendMSgで設定して、messageが格納されている
  // メッセージを画面に表示する
  var licount=$('#chatbox li').size();

  if(licount<5){
  $(function(){
  var receivemsg="<li>"+msg.username+":"+msg.value+"</li>";
  $("#chatbox").append(receivemsg); 
  });
  }
  else{
    $(function(){
  $("#chatbox li:first-child").remove();
    var receivemsg="<li>"+msg.username+":"+msg.value+"</li>";
  $("#chatbox").append(receivemsg); 
      });
  
  }
});






socket.on('clientvotetime',function(){
if( ingame==1){
$(function(){
$("#odai").text("投票タイムです！");
});
}
});

socket.on('clientanswerform',function(data){//採点用のネタを表示させる。

if(ingame==1){
otherusername.push(data.username);


$(function(){
$("#vote").append(data.value);
});
}
});




socket.on('start',function(odai){//お題を表示させ、ボタンを使えなくする。

$(function(){
$("#odai").text("お題:"+odai.value);
$('#start').attr('disabled', true);
});

});



function votebutton(){

if(ingame==1){//ゲーム中なら。
$(function(){

$("#vote").after("<form id='votebutton'></form>");//投票になったらボタンを追加する

$("#votebutton").append($('<input id="submitbutton"type="button" value="採点"　onclick="votesubmitcal()"/>'));//

$("#submitbutton").click(function(){

votesubmitcal();
});

});
}

}

function votesubmitcal(){


for(var i=1;i<otherusername.length;i++){

for(var j=1;j<4;j++){

var pointcheck=$("#"+otherusername[i]+"check"+j+":checked").val();//ポイントを入れる

if(pointcheck!=undefined)
{

userpoints[otherusername[i]]=pointcheck;

}
}


}
}

// メッセージを送る。送信ぼたんが押されたら
function SendMsg() {
  var msg = document.getElementById("message").value;//フォームからデータを取って来てる
  // メッセージを発射する。発射されたメッセージはサーパーにいき、サーバーのメッセージイベントが起動され、全員の元へ行く。
  socket.emit('message', { value: msg,roomnum:roomnumber,username:username,}); //メッセージメソッドでメッセージを送信。valueにはmsgが格納
}

// 切断する
function DisConnect() {
  var msg = socket.socket.transport.sessid + "は切断しました。";
  // メッセージを発射する
  socket.emit('message', { value: msg });
  // socketを切断する
  socket.disconnect();
}


socket.on('clientinitialize',function(){
ingame=1;
gamecheck=1;
$("#table").empty();//結果表示を空にする
$("#table").append($('<table id="result"><thead><th width="150">名前</th><th width="150">ネタ</th><th width="150">点数</th><tbody id="tbody"></tbody></thead></table>'));
otherusername = new Array(username);
postusernamearray=new Array(1);
timerseconds=20;
votetimerseconds=10;
userpoints=new Array(100);

});


function getstart(){




$(function(){

var odaiarraylength=odaiarray.length;//お題を
rnd = Math.floor( Math.random() * odaiarraylength);
var currentodai=odaiarray[rnd];

var roomnum=roomnumber;

 socket.emit('start',{value:currentodai,roomnum:roomnumber,});//お題をセットする
 socket.emit('timer',{roomnum:roomnumber,});//タイマーを作動させる
 socket.emit('initialize',{roomnum:roomnumber,});//初期化処理
});

}

function answer(){
$(function(){

youranswer=$("#answer").val();

});

}

socket.on('timer',function(){


timerid=setInterval(IntervalFunction , 1000);

});




function IntervalFunction(){//投稿用のタイマー関数



$(function(){

$("#timer").text(timerseconds);
timerseconds--;

});

if(timerseconds<0&&ingame==1)
{

clearInterval(timerid);
socket.emit('showanswerform',{value:youranswer,roomnum:roomnumber,username:username});
socket.emit('votetime',{roomnum:roomnumber});
votetimerset();
votebutton();//ボタンを表示させる
}


}

function　votetimerset(){

votetimerid=setInterval(votetimer , 1000);

}

function votetimer(){//投票用のタイマー関数


$(function(){

$("#timer").text(votetimerseconds);
votetimerseconds--;

});

if(votetimerseconds<0&&ingame==1)
{
votesubmitcal();
clearInterval(votetimerid);

for(var i=1;i<otherusername.length;i++){

socket.emit('sumpoints', { name:otherusername[i],points:userpoints[otherusername[i]],roomnum:roomnumber});
}

}


}

socket.on('showresult',function(result){//サーバーから送られてきた採点結果を表示する。
if(ingame==1)
{
$(function(){
           var realresult=result.result;
$("#tbody").append(realresult);//採点結果を入れる
$("#result").tablesorter({sortList:[[2,1]]});//採点結果を降順に並び飼える

//これ以下は初期化処理
$('#start').attr('disabled', false);//ボタンを使えるようにする
$("#vote").empty();//ボタンを空にする
$("#votebutton").empty();//
$("#odai").empty();//
$("#timer").empty();//
gamecheck=0;
});
}
});

socket.on('userlogout',function(data){



for(var i=1;i<loginuser.length;i++)
{
  if(loginuser[i]==data.value)
  {
  
  loginuser.splice(i,1);
  }


}

$(function(){
$('#enter').text(data.value+"さんがログアウトしました");
  $("#loginuser li").remove();

for(var i=1; i<loginuser.length;i++){
  if(loginuser[i]!="NULL")
  { 
    showloginuser="<li>"+loginuser[i]+"</li>";

    $("#loginuser").append(showloginuser);
  }


}

});

socket.emit('userdelete',{roomnum:roomnumber,value:data.value})
});

</script>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

      <div id="title"> 大喜利チャットシステム </div> <h2>部屋番号:<%=roomnumber %></h2></br>
<div id="currentloginuser"><h2>今ログイン中のユーザー</h2>
<h2><ul id="loginuser"><ul></h2></div>
<div id="enter"></div>
  

  <div class="box" id="chatcss">
    <h2>チャットコーナー</h2></br>
<div id="boxline"><ul id="chatbox"></ul></div>
  <input type="text" id="message" class="textform" value=""></br>
  <input type="button" value="発言" onclick="SendMsg()">
  </div>


  <div class="box">
  <h2>大喜利コーナー</h2>
  <h1><div id="odai"></div></h>
  <h2 id="timer"></h2></br>
  <h2>回答フォーム<h2>
  <input type="text" id="answer" class="textform" value="">  <input id="answerbutton" type="button" value="お題に答える" onclick="answer()"><br>
    <input id="start" type="button" value="大喜利スタート" onclick="getstart()">
<br>
   <form id="vote"> </form>
   <div id="table">

</div>
  </form>



</div>
  </body>
</html>