<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="/dist/js/bootstrap.min.js"></script>
<link href="/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
<script type="text/javascript">

</script>
</head>
<h2>部屋１には只今<%=memberNumber1%>人数ログインしてます</h2></br>
<form action="./room1" method="get">
<div class="row">
<div class="col-md-2"> 
<input type="text" class="form-control" name="username" id="username1">
</div>
<div class="col-md-2"> 
<input type="submit" class="btn btn-primary" value="部屋１にログインする">
</div>
</div>

</form>

<h2>部屋2には只今<%=memberNumber1%>人数ログインしてます</h2></br>
<form action="./room2" method="get">
<div class="row">
<div class="col-md-2"> 
<input type="text" class="form-control" name="username" id="username2">
</div>
<div class="col-md-4"> 
<input type="submit" class="btn btn-primary" value="部屋2にログインする" >
</div>
</div>

</form>

<h2>部屋3には只今<%=memberNumber1%>人数ログインしてます</h2></br>
<form action="./room3" method="get">
<div class="row">
<div class="col-md-2"> 
<input type="text" class="form-control" name="username" id="username3">
</div>
<div class="col-md-4"> 
<input type="submit" class="btn btn-primary" value="部屋3にログインする">
</div>
</div>

</form>

<h2>部屋4には只今<%=memberNumber1%>人数ログインしてます</h2></br>
<form action="./room4" method="get">
<div class="row">
<div class="col-md-2"> 
<input type="text" class="form-control" name="username" id="username4">
</div>
<div class="col-md-2"> 
<input type="submit" class="btn btn-primary" value="部屋4にログインする">
</div>
</div>

</form>
</html>