

body{
 margin:0; 
 margin-bottom: 50px;           /* ←追加 */
}

.box {
	float: left;
}

#enter {
	font-size: 150%;
	color: red;
}

#title {
	font-size: 200%;

}

#chatcss{
		margin-right: 40px; 
		margin-left: -25px; 
		
		

}

#currentloginuser{
	border:solid; 
	
}

#boxline{
	height:250;
	width:420px;
	border:solid; 
	overflow: scroll;
	
}

.textform {
width: 300px;

}