

body{
 margin:0; 
 margin-bottom: 50px;           /* ←追加 */
}

#caution {

	color: red;
			background-color: #111111;
}

.box {
	float: left;
}

#enter {
	font-size: 150%;
	color: red;
}



#title {
	font-size: 200%;

}

#chatcss{
		margin-right: 60px; 
		margin-left: 0px; 
		
		

}

#currentloginuser{
		background-color: #F6F6F6;
	
}

#boxline{
	height:250;
	width:420px;
	background-color: #F6F6F6;
	overflow: scroll;

	
}

#start {
	margin-bottom: 30px;
}

.textform {
width: 300px;

}

.list{
	margin-left:0px;
list-style-type: none;
	
	
}
